<h2>Monster Trucks</h2>


<h3>Create a new monster truck</h3>
<input class="js-truck-name" type="text" placeholder="name of a truck">
<button class="js-truck-submit">Add</button>


<h3>All the monster trucks</h3>
<div id="js-monster-trucks"></div>
